{% extends "../base_template.html" %}

{% block content %}
<a href="{% url 'seller-request' %}"> Become a Seller </a>
<ul>
    {%for obj in object%}
        <li>
            <ul>
                <li>
                    {{obj.name}}
                    <br><p>
                        {{obj.desc}}
                    </p>
                    <br><p>
                        {{obj.price}}
                    </p>
                    <br><p>
                        {{obj.link}}
                    </p>
                </li>
            </ul>
        </li>

    {% endfor %}
</ul>

{% endblock %}